

<!DOCTYPE html>
<html>
<head>
<title>Create a Party</title>
</head>
<body>
<h1>Create a Party</h1>
<form action="/create_party" method="post">
<label for="name">Name:</label><br>
<input type="text" id="name" name="name"><br>
<label for="date">Date:</label><br>
<input type="date" id="date" name="date"><br>
<label for="time">Time:</label><br>
<input type="time" id="time" name="time"><br>
<label for="location">Location:</label><br>
<input type="text" id="location" name="location"><br><br>
<input type="submit" value="Create Party">
</form>
</body>
</html>


