

<!DOCTYPE html>
<html>
<head>
<title>Edit Party</title>
</head>
<body>
<h1>Edit Party</h1>
<form action="/edit_party/{{ party.id }}" method="post">
<label for="name">Name:</label><br>
<input type="text" id="name" name="name" value="{{ party.name }}"><br>
<label for="date">Date:</label><br>
<input type="date" id="date" name="date" value="{{ party.date }}"><br>
<label for="time">Time:</label><br>
<input type="time" id="time" name="time" value="{{ party.time }}"><br>
<label for="location">Location:</label><br>
<input type="text" id="location" name="location" value="{{ party.location }}"><br><br>
<input type="submit" value="Save Changes">
</form>
</body>
</html>


